*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
#heading{
    font-size: 4rem;
    text-align: center;
}
#btn{
    font-size: 3rem;
    border: 0.2rem solid orange;
    background-color: aqua;
    cursor: pointer;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 1rem;
}
.container{
    /* border: 2px solid red; */
    width: 80rem;
    margin: auto;
}
#tables{
    width: 100%;
    font-size: 4rem;
    /* border:2px solid orange; */
    padding: 1rem;
    margin: 2rem;
}
th,td{
    margin: 20rem;
    border:2px solid black;
}